<div class="h-left-sec">
    <div class="logo" (click)="redirectToHome()">
        <img src="./../../assets/images/logo.png" alt="allsports247">
    </div>
</div>
<div class="h-right-sec ms-auto">
    <div class="contact">
        <a href="tel:18137361484" class="phone">+1-813-736-1484</a>
        <a href="mailto:info@all.sports247.eu" class="mail">info@all.sports247.eu</a>
    </div>
    <div class="btns">
        <!-- <button class="btn btn-light login dropdown"><img src="../../assets/images/icons/login.svg" alt=""><span class="text">
                Login</span>
                
            </button> -->
            <div class="dropdown ms-auto my-auto banking-dropdown">
                <button class="btn btn-light dropdown-toggle px-3" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="../../assets/images/icons/login.svg" alt=""><span class="text">
                        Login</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <form class="px-4 py-3">
                      <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                      </div>
                      <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                          Remember me
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">New around here? Sign up</a>
                    <a class="dropdown-item" href="#">Forgot password?</a>
                  </div>
            </div>
           
        <button class="btn btn-light ms-2 signup"><img src="../../assets/images/icons/add-user.svg" alt=""> <span
                class="text">Sign Up</span></button>
        <button class="btn btn-light ms-2 help" (click)="redirectToHelpCenter()">Help Center</button>
    </div>
</div>