<div class="h-left-sec">
    <div class="logo" (click)="redirectToHome()">
        <img src="./../../assets/images/logo.png" alt="allsports247">
    </div>
</div>
<div class="h-right-sec ms-auto">
    <div class="contact">
        <a href="tel:18137361484" class="phone">+1-813-736-1484</a>
        <a href="mailto:info@all.sports247.eu" class="mail">info@all.sports247.eu</a>
    </div>
    <div class="btns">
        <button class="btn btn-light login"><img src="../../assets/images/icons/login.svg" alt=""><span class="text">
                Login</span></button>
        <button class="btn btn-light ms-2 signup"><img src="../../assets/images/icons/add-user.svg" alt=""> <span
                class="text">Sign Up</span></button>
        <button class="btn btn-light ms-2 help" (click)="redirectToHelpCenter()">Help Center</button>
    </div>
</div>