<footer>
  <div class="footer">
    <div class="brand-logo">
        <img src="../../../assets/images/logo.png">
    </div>
    <div class="container relative z-index-1">
        <div class="row">
            <div class="col-sm-12 col-md-3 column">
                <h3>Info Links</h3>
                <a routerLink="./TermsAndConditions">Terms & Conditions</a>
                <a routerLink="./PrivacyPolicy">Privacy & Policy</a>
                <a routerLink="./AboutUs">About Us</a>
                <a routerLink="./HandiCap">Asian Handicap</a>
            </div>
            <div class="col-sm-12 col-md-3 column">
                <h3>Rules Links</h3>
                <a routerLink="./AllRules">General Rules</a>
                <a routerLink="./RaceBookRules">Racebook Rules</a>
                <a routerLink="./LiveBettingRules">Live Betting Rules</a>
                <a routerLink="./RollOverRules">Rollover Rules</a>
            </div>
            <div class="col-sm-12 col-md-3 column">
                <h3>Contact Us</h3>
                <a href="tel:18137361484">+1-813-736-1484</a>
                <a href="mailto:info@allsports247.eu">info@allsports247.eu</a>
                <!-- <a routerLink="#">About Us</a>
            <a routerLink="#">Asian Handicap</a> -->
            </div>
            <div class="col-sm-12 col-md-3 column last-column">

                <div class="social-media">
                    <ul class="socialList">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
                <p>Lorem Ipsum Lorem <br> Lorem Ipsum Lorem</p>
                <!-- <div class="copyrights mt-2">
                    <p>Copyrights © 2023: companywebsite.com<br />All Rights Reserved</p>
                </div> -->
            </div>
        </div>
    </div>
 
  </div>
  <div class="copyrights">
        <div class="logos">
           <img src="../../assets/images/footer/footer-logo1.svg">
           <img src="../../assets/images/footer/footer-logo2.svg">
        </div>
        <p>Copyright ©2023 AllSports247.eu. All rights reserved.</p>
  </div>
</footer>