:host{
    footer{
        background-color: #262626;
        padding: 35px 0;
        border-top: 10px solid #d3001a;
        background-image: url(../../assets/images/imageFooter.png);
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        &::before{
            content: '';
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(67,67,67,0.5);
            position: absolute;
            z-index: 1;
          }
        .socialList {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            li {
              padding-left: 10px;
              a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                text-decoration: none;
                // background-color: #999;
                color: #fff;
           
              }
         
            }
          }
    }
    h3{
        text-transform: uppercase;
        color:#fff;
        font-size: 16px;
    }
    a{
        color:#c5c5c5;
        text-decoration: none;
        display: block;
        font-size: 12px;
        line-height: 26px;
        &:hover{
            text-decoration: underline;
        }
    }
    p{
        color:#eaeaea;
        line-height: 26px;
    }
    .social-media {
        ul{
            li{
                padding: 5px 10px;
                a{
                    
                    i{
                        font-size: 30px;
                        color:#fff;
                    }
                }
            }
        }
    }
}