<div class="video-banner w-100">
    <!-- <iframe width="100%" height="450" controls="false" autoplay="autoplay" src="https://www.youtube.com/embed/K4TOrB7at0Y?si=pu7-8DlmuivqOYfE&controls=0" frameborder="0" allowfullscreen></iframe> -->
  
    <video width="100%" loop autoplay controls="false">
      <source
        src="https://player.vimeo.com/external/371611850.sd.mp4?s=890f494f551cb78cf3c2059034f2036fde51c928&profile_id=164&oauth2_token_id=57447761"
        type="video/mp4">
    </video>
  </div>
  <div class="curve">
    <img src="../../../assets/images/banners/banner-curve.svg">
  </div>
  
  <section class="white-box mt-2 mb-5">
    <div class="container">
        <div class="box px-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="theme-tabs">
                        <!-- Nav pills -->
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#home">Payout Policies</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#menu1">Payout Options</a>
                            </li>                         
                        </ul>
                        
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active" id="home">
                                
                                <div class="text text-left">
                                  <p>All online deposits are processed using 128-bit SSL encryption or better.</p>
                                <p>Promotional credits and bonuses are not applied to certain deposit methods. Please check if the deposit method you use is eligible for a bonus 
                                    before sending it.</p>
                                <p>Deposit methods will require that the same process is used for withdrawal up to the amount deposited.</p>
                                <p>Transfer charges will not be picked up on incoming deposits if a withdrawal has been made within the previous 48 hours. </p>
                                <p>(If an account is shown to be making excessive deposits and withdrawals over short periods of time, reimbursement of transfer charges for the 
                                    account will be discontinued)</p>
                                    
                                <p>Allsports247 may limit incoming amounts with certain deposit methods.</p>
                                <p> Any charge back, non-sufficient funds, or otherwise non-valid deposit will lead to the immediate forfeiture of any winnings generated subsequent
                                    to said deposit.</p>
                                    
                                <p>Sportsbook transfers are accepted on a limited basis from certain establishments. The minimum transfer amount is $50 USD. </p>
                            <p>You may be required to wait until funds have cleared from the sending establishment before the money is available in your account.</p>
                                    <p>Sender’s account information must match the receiver’s account information for all deposit methods. No third-party payments are accepted.</p>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="menu1">
                                <p class="text-center"><span class="mandatory">*</span>All deposit limits below are per transaction to complete larger deposits multiple transactions are allowed.</p>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/Cash-App.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p>Fees - FREE - There is currently no fee to make a CashApp deposit.</p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/venmo.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p>Fees - *Venmo does not charge for sending money from a linked bank account, debit card, or Venmo account. </p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/paypal.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p>Fees - Using Domestic fee rate of 3.49% + $.49 (Invoicing, PayPal Checkout)</p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/Bitcoin.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p><strong>USDT/USD Coin</strong></p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/WesterUnion-BlkText.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p><strong>(Western Union/Money Gram)</strong></p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/Zelle.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <!-- <p>Fees - Using Domestic fee rate of 3.49% + $.49 (Invoicing, PayPal Checkout)</p> -->
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/Visa-Master.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <!-- <p>Fees - Using Domestic fee rate of 3.49% + $.49 (Invoicing, PayPal Checkout)</p> -->
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/FedEx.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <!-- <p>Fees - Using Domestic fee rate of 3.49% + $.49 (Invoicing, PayPal Checkout)</p> -->
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                           
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-4">
   <div class="container">
    <h2 class="theme-bb pb-3 mb-3"><strong>CashApp</strong></h2>
    <p><strong>Minimum Deposit Amount: the equivalent of $50 USD<br/>
        Maximum Deposit Amount: $2,500 USD / Transaction</strong></p>
        <p>Cash App is a mobile payment service available in the United States and the United Kingdom that allows users to transfer money to one another using a mobile phone app.</p>
        <a href="">Please contact Customer Care via our live support to receive CashApp Instructions.</a>
   </div>
</section>