<section class="content-sec my-5">
    <div class="container">
        <h2 class="p-title">PRIVACY & POLICY</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ultrices est. Pellentesque auctor mollis felis, nec scelerisque nisl venenatis eget. Nam convallis, massa nec commodo luctus, dolor lectus vehicula tortor, ac vulputate urna nibh et enim. Nullam feugiat odio sed hendrerit efficitur. </p>
        <p> Morbi ultrices velit eu cursus eleifend. Ut iaculis volutpat justo, vulputate dictum nulla maximus quis. Integer nibh lorem, porta id varius ut, blandit id magna. Pellentesque sed auctor tellus.</p>
        <h3>1- Lorem ipsum dolor sit amet </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ultrices est. Pellentesque auctor mollis felis, nec scelerisque nisl venenatis eget. Nam convallis, massa nec commodo luctus, dolor lectus vehicula tortor, ac vulputate urna nibh et enim. Nullam feugiat odio sed hendrerit efficitur. </p>
        <p> Morbi ultrices velit eu cursus eleifend. Ut iaculis volutpat justo, vulputate dictum nulla maximus quis. Integer nibh lorem, porta id varius ut, blandit id magna. Pellentesque sed auctor tellus.</p>
        <h3>2- Lorem ipsum dolor sit amet </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ultrices est. Pellentesque auctor mollis felis, nec scelerisque nisl venenatis eget. Nam convallis, massa nec commodo luctus, dolor lectus vehicula tortor, ac vulputate urna nibh et enim. Nullam feugiat odio sed hendrerit efficitur. </p>
        <p> Morbi ultrices velit eu cursus eleifend. Ut iaculis volutpat justo, vulputate dictum nulla maximus quis. Integer nibh lorem, porta id varius ut, blandit id magna. Pellentesque sed auctor tellus.</p>
        <h3>3- Lorem ipsum dolor sit amet </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ultrices est. Pellentesque auctor mollis felis, nec scelerisque nisl venenatis eget. Nam convallis, massa nec commodo luctus, dolor lectus vehicula tortor, ac vulputate urna nibh et enim. Nullam feugiat odio sed hendrerit efficitur. </p>
        <p> Morbi ultrices velit eu cursus eleifend. Ut iaculis volutpat justo, vulputate dictum nulla maximus quis. Integer nibh lorem, porta id varius ut, blandit id magna. Pellentesque sed auctor tellus.</p>       
        <h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <div class="btn-sec d-flex">
            <button class="btn theme-btn my-4 mx-auto">
                Contact Us
            </button>
        </div>

    </div>
</section>