<div class="video-banner w-100">
    <!-- <iframe width="100%" height="450" controls="false" autoplay="autoplay" src="https://www.youtube.com/embed/K4TOrB7at0Y?si=pu7-8DlmuivqOYfE&controls=0" frameborder="0" allowfullscreen></iframe> -->
  
    <video width="100%" loop autoplay controls="false">
      <source
        src="https://player.vimeo.com/external/371611850.sd.mp4?s=890f494f551cb78cf3c2059034f2036fde51c928&profile_id=164&oauth2_token_id=57447761"
        type="video/mp4">
    </video>
  </div>
  <div class="curve">
    <img src="../../../assets/images/banners/banner-curve.png">
  </div>
  
  <section class="white-box mt-2 mb-5">
    <div class="container">
        <div class="box px-5">
            <div class="row">
                <div class="col-sm-12">
                    <div class="theme-tabs">
                        <!-- Nav pills -->
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="pill" href="#home">Deposit Policies</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="pill" href="#menu1">Deposit Options</a>
                            </li>                         
                        </ul>
                        
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active" id="home">
                                
                                <div class="text text-left">
                                  <p>Sed vitae ultrices est. Pellentesque auctor mollis felis, nec scelerisque nisl venenatis eget. Nam convallis, massa nec commodo luctus, dolor lectus vehicula tortor, ac vulputate urna nibh et enim. Nullam feugiat odio sed hendrerit efficitur. Morbi ultrices velit eu cursus eleifend. </p>
               
                                  <p>Ut iaculis volutpat justo, vulputate dictum nulla maximus quis. Integer nibh lorem, porta id varius ut, blandit id magna. Pellentesque sed auctor tellus.</p>
                                   
                                  <p>Pellentesque massa risus, aliquet id mi sit amet, imperdiet luctus nulla. Duis a cursus nibh, a placerat velit. Ut vel facilisis mauris. Suspendisse tortor lacus, sollicitudin quis neque non, mollis tempor tellus. </p>
                                   
                                  <p>Curabitur elementum ex eget dolor faucibus pretium. Morbi blandit mi lorem, at tincidunt risus accumsan et. Etiam luctus dictum Leo pellentesque blandit. Vestibulum quis bibendum lectus, pulvinar finibus lacus. Donec nec porttitor justo.</p>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="menu1">
                                <p class="text-center"><span class="mandatory">*</span>All deposit limits below are per transaction to complete larger deposits multiple transactions are allowed</p>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/Cash-App.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p>Fees - FREE - There is currently no fee to make a CashApp deposit.</p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/venmo.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p>Fees - *Venmo does not charge for sending money from a linked bank account, debit card, or Venmo account. </p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/paypal.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p>Fees - Using Domestic fee rate of 3.49% + $.49 (Invoicing, PayPal Checkout)</p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/Bitcoin.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p><strong>USDT/USD Coin</strong></p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/WesterUnion-BlkText.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <p><strong>(Western Union/Money Gram)</strong></p>
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/Zelle.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <!-- <p>Fees - Using Domestic fee rate of 3.49% + $.49 (Invoicing, PayPal Checkout)</p> -->
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/Visa-Master.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <!-- <p>Fees - Using Domestic fee rate of 3.49% + $.49 (Invoicing, PayPal Checkout)</p> -->
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
                                        <div class="box">
                                            <div class="logo">
                                                <img src=".././../../assets/images/payment-methods/FedEx.svg" alt="" class="w-100">
                                            </div>
                                            <div class="text">
                                                <!-- <p>Fees - Using Domestic fee rate of 3.49% + $.49 (Invoicing, PayPal Checkout)</p> -->
                                            </div>
                                            <div class="btn-sec">
                                                <button class="btn theme-btn">
                                                    See More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                           
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-4 mb-5 pb-4">
   <div class="container">
    <h2 class="theme-bb pb-3 mb-3"><strong>CashApp</strong></h2>
    <p><strong>Minimum Deposit Amount: the equivalent of $50 USD<br/>
        Maximum Deposit Amount: $2,500 USD / Transaction</strong></p>
        <p>Cash App is a mobile payment service available in the United States and the United Kingdom that allows users to transfer money to one another using a mobile phone app.</p>
        <a href="">Please contact Customer Care via our live support to receive CashApp Instructions.</a>
   </div>
</section>