<!-- <ul class="main-nav">
    <li>
        <a routerLink="/Sports"><span class="icon"> <img src="../../assets/images/sports-icon.svg"
                    alt=""></span>Sports</a>
    </li>
    <li>
        <a routerLink="/Casino"><span class="icon"> <img src="../../assets/images/casino-icon.svg"
                    alt=""></span>Casino</a>
    </li>
    <li>
        <a routerLink="/LiveBetting"><span class="icon"> <img src="../../assets/images/betting-icon.svg"
                    alt=""></span>Live Betting</a>
    </li>
    <li>
        <a routerLink="/HorseRacing"><span class="icon"> <img src="../../assets/images/racing-icon.svg"
                    alt=""></span>Horse Racing</a>
    </li>
    <li>
        <a routerLink="/ReferAFriend"><span class="icon"> <img src="../../assets/images/refer-icon.svg" alt=""></span> A
            Friend</a>
    </li>
    <li>
        <a routerLink="/Promotion">Promotions</a>
    </li>
    <li>
        <a routerLink="/HandiCap">HandiCap</a>
    </li>
    <li>
        <a routerLink="/HelpCenter">Help Center</a>
    </li>
    <li>
        <a routerLink="/AllRules">All Rules</a>
    </li>
    <li>
        <a routerLink="/AboutUs">About Us</a>
    </li>
</ul> -->
<nav class="navbar p-3 navbar-expand-lg bg-body-tertiary">

    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav main-nav">
            <li class="nav-item">
                <a routerLink="/Sports"><span class="icon nav-link active" aria-current="page"> <img
                            src="../../assets/images/sports-icon.svg" alt=""></span>Sports</a>
            </li>
            <li class="nav-item">
                <a routerLink="/Casino"><span class="icon nav-link"> <img src="../../assets/images/casino-icon.svg"
                            alt=""></span>Casino</a>
            </li>
            <li class="nav-item">
                <a routerLink="/LiveBetting"><span class="icon nav-link"> <img
                            src="../../assets/images/betting-icon.svg" alt=""></span>Live Betting</a>
            </li>
            <li class="nav-item">
                <a routerLink="/HorseRacing"><span class="icon nav-link"> <img src="../../assets/images/racing-icon.svg"
                            alt=""></span>Horse Racing</a>
            </li>
            <li>
                <a routerLink="/ReferAFriend"><span class="icon nav-link"> <img src="../../assets/images/refer-icon.svg"
                            alt=""></span>Refer A
                    Friend</a>
            </li>

        </ul>
    </div>


    <div class="dropdown ms-auto my-auto banking-dropdown">
        <button class="btn btn-light dropdown-toggle px-3" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Banking
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" (click)="openMakeADepositdialog('Deposit')" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">MAKE A DEPOSIT NOW</a></li>
            <li><a class="dropdown-item" routerLink="/DepositPolicie">DEPOSIT POLICIES</a></li>
            <li><a class="dropdown-item" (click)="openMakeADepositdialog('Payout')" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">REQUEST A PAY OUT NOW</a></li>
            <li><a class="dropdown-item" routerLink="/PayOutPolicie">PAYOUT POLICIES</a></li>
        </ul>
    </div>

</nav>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
            </div>
            <div class="modal-body">
                <div class="card-sub-title">
                    {{subtitle}}
                </div>
                <div class="col-12 card-buttons">
                    <div class="row cashbtncss">
                        <div class="col-lg-6 col-md-12 col-xs-12 cashmode">
                            <button class="cashbtn" (click)="buttonclicked(title,'CashApp')">Cash App</button>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-12 cashmode">
                            <button class="cashbtn" (click)="buttonclicked(title,'PayPal')">PayPal</button>
                        </div>
                    </div>
                    <div class="row cashbtncss">
                        <div class="col-lg-6 col-md-12 col-xs-12 cashmode">
                            <button class="cashbtn" (click)="buttonclicked(title,'Zelle')">Zelle</button>
                        </div>
                        <div class="col-lg-6 col-md-12 col-xs-12 cashmode">
                            <button class="cashbtn" (click)="buttonclicked(title,'venmo')">venmo</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 line">
                    ------------------------------ or ------------------------------
                </div>
                <div class="col-12 nononlinedeposit">
                    <button class="nononlinedepositbtn" (click)="buttonclicked(title,button1)">{{button1}}</button>
                </div>
                <div class="col-12 onlinemethods">
                    <div class="row paymentgateway">
                        FedEx &nbsp;&nbsp;&nbsp;&nbsp; Westernunion \\WU
                    </div>
                    <div class="row paymentgateway">
                        Crypto Currency Visa
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<!-- this will be removed later from nav section -->
<!-- this is kept here to build the pages -->
<!-- <div (click)="opendialog()">open dialog</div> -->
<!-- <div (click)="openform()">open form</div>
<div (click)="opennononlinedialog()">non online open form</div> -->