<div>
    <a routerLink="/Sports">Sports</a>
</div>
<div>
    <a routerLink="/Casino">Casino</a>
</div>
<div>
    <a routerLink="/LiveBetting">Live Betting</a>
</div>
<div>
    <a routerLink="/HorseRacing">Horse Racing</a>
</div>
<div>
    <a routerLink="/ReferAFriend">Refer A Friend</a>
</div>

<!-- this will be removed later from nav section -->
<!-- this is kept here to build the pages -->
<div>
    <a routerLink="/Promotion">Promotions</a>
</div>
<div>
    <a routerLink="/HandiCap">HandiCap</a>
</div>
<div>
    <a routerLink="/HelpCenter">Help Center</a>
</div>
<div>
    <a routerLink="/AllRules">All Rules</a>
</div>
<div>
    <a routerLink="/AboutUs">About Us</a>
</div>