<div id="carouselExampleFade" class="home-banner carousel slide carousel-fade">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/banners/banner1.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>The Better's Choice</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/banners/banner1.jpeg" class="d-block w-100" alt="...">
      </div>
     
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>
  
  <section class="promos p-5">
        <div class="row ">
            <div class="col-sm-12 col-md-4 col-lg-4 px-4">
                <h2>Sports</h2>
                <div class="tiles1">
                    <a class="tile" href="#">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg" />
                        <div class="details">
                          <span class="title">Lorem Ipsum Dolor</span>
                          <button class="btn">See More</button>
                        </div>
                      </a>
                      <a class="tile" href="#">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg" />
                        <div class="details">
                            <span class="title">Lorem Ipsum Dolor</span>
                            <button class="btn">See More</button>
                          </div>
                      </a>
                      <a class="tile" href="#">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg" />
                        <div class="details">
                            <span class="title">Lorem Ipsum Dolor</span>
                            <button class="btn">See More</button>
                          </div>
                      </a>
                </div>
                <a href="#" class="see-all float-end"><img width="20" src="../../../assets/images/icons/arrow-narrow-right.svg"> See All</a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 px-4">
                <h2>Live Betting</h2>
                <div class="row tiles2">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a class="tile" href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg" />
                            <div class="details">
                              <span class="title">Lorem Ipsum Dolor</span>
                              <span class="info">Quisque vel felis lectus donec vitae dapibus magna</span>
                            </div>
                          </a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a class="tile" href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg" />
                            <div class="details">
                              <span class="title">Lorem Ipsum Dolor</span>
                              <span class="info">Quisque vel felis lectus donec vitae dapibus magna</span>
                            </div>
                          </a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a class="tile" href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg" />
                            <div class="details">
                              <span class="title">Lorem Ipsum Dolor</span>
                              <span class="info">Quisque vel felis lectus donec vitae dapibus magna</span>
                            </div>
                          </a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a class="tile" href="#">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg" />
                            <div class="details">
                              <span class="title">Lorem Ipsum Dolor</span>
                              <span class="info">Quisque vel felis lectus donec vitae dapibus magna</span>
                            </div>
                          </a>
                    </div>
                    <a href="#" class="see-all float-end"><img width="20" src="../../../assets/images/icons/arrow-narrow-right.svg"> See All</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 px-4">
                <h2> &nbsp; </h2>
                <div class="promo m-3">
                    <img width="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3ZdQCfvwhQA071U9Qf6hcwK9f8frWXJJTmFyxJ1Ek&s" />
                </div>
            </div>
        </div>
  </section>
  <section class="footer2">
    <div class="row">
        <div class="col-sm-7">
            <h2>We have a simple Vision</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-sm-5">
            <h2>We have a simple Vision</h2>
            <div class="checks">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                  </div>
            </div>
        </div>
    </div>
  </section>
 