<div class="row col-12 removepadding">
    <div class="col-12 removepadding">
        <img src="../../../assets/sports-1.webp" alt="No Img" class="sportsimg">
    </div>
    <div class="row col-12 removepadding">
        <div class="col-4 sportstab">
            <div class="sportstab-heading">
                Sports
            </div>
            <div class="col-12 sportsimagecontainer">
                <div class="sportsimg-1">
                    <img src="../../../assets/sports-1.webp" alt="No Img" class="sportstab-img1">
                </div>
                <div class="sportsimg-1">
                    <img src="../../../assets/sports-1.webp" alt="No Img" class="sportstab-img1">
                </div>
                <div class="sportsimg-1">
                    <img src="../../../assets/sports-1.webp" alt="No Img" class="sportstab-img1">
                </div>
                <div class="seeall">
                    SEE ALL
                </div>
            </div>
        </div>
        <div class="col-4 sportstab">
            <div class="sportstab-heading">
                Live Betting
            </div>
            <div class="col-12 row bettingrow1">
                <div class="col-6 bettingimage1 removepadding">
                    <img src="../../../assets/sports-1.webp" alt="No Img" class="bettingtab-img1">
                </div>
                <div class="col-6 bettingimage1 removepadding">
                    <img src="../../../assets/sports-1.webp" alt="No Img" class="bettingtab-img1">
                </div>
            </div>
            <div class="col-12 row bettingrow1">
                <div class="col-6 bettingimage2">
                    <img src="../../../assets/sports-1.webp" alt="No Img" class="bettingtab-img1">
                </div>
                <div class="col-6 bettingimage2">
                    <img src="../../../assets/sports-1.webp" alt="No Img" class="bettingtab-img1">
                </div>
            </div>
            <div class="col-12 seall-betting">
                SEE ALL
            </div>
        </div>
        <div class="col-4 sportstab">
            <div class="sportstab-heading">
                Live Betting
            </div>
            <div class="col-12 promos">
                <img src="../../../assets/sports-1.webp" alt="No Img" class="promo-img">
            </div>

        </div>

    </div>
    <div class="col-12 card">
        <div class="row">
            <div class="col-2 visintext">
                WE HAVE<br>
                A SIMPLE<BR>
                VISION
            </div>
            <div class="col-5 textdata">

                While we cherish the diverse sports fervor of the USA, AllSports247's reach extends far and wide. Our
                platform's
                inclusive spirit embraces sports from around the world, uniting enthusiasts in a shared passion for
                athletic
                excellence.<br>
                From Tokyo to Rio and London to Sydney, our coverage transcends geographical boundaries, ensuring you're
                connected to
                the global sports tapestry.<br>
                Join us in celebrating the universal language of competition, where victories, defeats, and
                unforgettable
                moments unite<br>
                us under the banner of sportsmanship.

            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-2 line">
                        <div class="line2"></div>
                    </div>
                    <div class="col-10 benifit">
                        <div class="row">
                            <div class="col-5 benifittext">
                                BENIFITS
                            </div>
                            <div class="col-7 checkboxdiv">
                                <div class="col">
                                    <input type="checkbox"> Lorem Lorem
                                </div>

                                <div class="col">
                                    <input type="checkbox"> Lorem Lorem
                                </div>
                                <div class="col">
                                    <input type="checkbox"> Lorem Lorem
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>