<div id="referFriend" class="home-banner carousel slide carousel-fade">
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#referFriend" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#referFriend" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#referFriend" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/images/ref-a-friend/hero_refer_friend.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-center">
                <h5>REFER A FRIEND<br>AND REAP REWARDS</h5>
                <h3>EARN 888% UP TO $888 <br> PLUS EXTRA REWARDS</h3>
                <button class="btn theme-btn mt-4 mx-auto">BET NOW!</button>
              </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/banners/banner1.jpeg" class="d-block w-100" alt="...">
        </div>

    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#referFriend" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#referFriend" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
</div>
<div class="curve">
    <img src="../../../assets/images/banners/banner-curve.svg">
</div>
<div class="container">
    <h2 class="h1 text-center mb-3">INTRODUCING OUR EXCLUSIVE REFER A FRIEND PROGRAM</h2>
</div>

<section class="gray-sec py-5">
    <div class="container">    
     <p>Unlock an exciting realm of bonuses and incentives with <strong>AllSports247’s groundbreaking Refer a Friend program.</strong> </p>
     <p class="mb-0">Spread the word about AllSports247, and in return, we’ll shower you with unmatched rewards that only amplify your gaming experience.</p>   
    </div>
 </section>
<div class="steps-sec my-5">
    <div class="container">
        <div class="step-by-step">
            <div class="circle">
                <img src="../../../assets/images/ref-a-friend/phone_iphone.svg">
            </div>
            <!-- <div class="circle">
                <img src="../../../assets/images/ref-a-friend/mark_email.svg">
            </div>
            <div class="circle">
                <img src="../../../assets/images/ref-a-friend/handshake.svg">
            </div> -->
        </div>

    </div>

</div>
<div>

</div>
<div class="steps-text-sec">
    <div class="container">
        <div class="steps-text">
            <div class="text">
                <p>
                    <strong>Step 1</strong>
                    Lorem Ipsum dolor sit amet
                </p>
            </div>
            <div class="text">
                <p>
                    <strong>Step 2</strong>
                    Lorem Ipsum dolor sit amet
                </p>
            </div>
            <div class="text">
                <p>
                    <strong>Step 3</strong>
                    Lorem Ipsum dolor sit amet
                </p>
            </div>
        </div>
    </div>
</div>

<section class="main-content py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 heading">
                <h2>How It Works</h2>
            </div>
            <div class="col-sm-7">
                <p>Our <a href="">Refer a Friend program</a> is designed to be simple yet immensely rewarding.</p>
                <p><strong>  Follow these steps to start enjoying the benefits of the program:</strong></p>
                <ul>
                    <li><strong>Spread the Word:</strong> Share your love for AllSports247 with your friends by inviting them to join our platform. You can use personalized referral links or codes unique to your account. </li>
                    <li><strong>Friend’s Sign-Up:</strong> Once your friend signs up using your referral link or code, they will become eligible to receive the enticing welcome bonus that awaits them.</li>
                    <li><strong>Initial Deposit:</strong> Encourage your referred friend to make their initial deposit. This step is essential to activate your Refer a Friend bonus. </li>
                    <li><strong>Reap the Rewards: </strong>As soon as your friend’s deposit is confirmed, you’ll receive a <strong>spectacular bonus of 888% on their first deposit up to $888!</strong> Yes, that’s right… Your bonus potential is substantial and ready to enhance your gaming experience.</li>
                </ul>
            

                <button class="btn theme-btn mx-auto d-flex mt-5">
                    Refer A Friend
                </button>
            </div>
        </div>
    </div>
<div class="container">
    <h2 class="h1 text-center mb-1 mt-5">MULTIPLY THE BENEFITS</h2>
    <h2 class="h2 mb-4 mt-1 text-center">EXTRA REWARDS AWAIT!</h2>
    <p>At AllSports247, we believe in <strong>surpassing expectations</strong>.</p>
    <p>That’s why, in addition to the remarkable 888% up to $888 bonus, we’ve sprinkled some extra incentives to make your Refer a Friend journey even more thrilling! </p>
    <p><strong>These additional rewards could include:</strong> </p>
    <ul>
        <li><strong>Free Bets:</strong> Enjoy complimentary bets that add an extra layer of excitement to your gaming endeavors. </li>
        <li><strong>Exclusive Tournaments:</strong> Gain access to exclusive tournaments with impressive prize pools, which allow you to showcase your skills and claim even more rewards. </li>
        <li><strong>Loyalty Points Boost:</strong> Elevate your loyalty points collection, accelerating your progress toward higher VIP tiers and their associated perks.</li>
    </ul>
    <h2 class="h1 text-center mb-1 mt-5">BENEFITS OF ALLSPORTS247’S <br>REFER A FRIEND PROGRAM</h2>
    <p>Sharing the joy of AllSports247 with your friends isn’t just about expanding our community… It’s also about reaping the benefi ts together!  </p>
    <p><strong>Here’s why you should embrace our Refer a Friend program: </strong></p>

    <ul>
        <li><strong>Unprecedented Bonus Potential:</strong> The 888% up to $888 bonus is a head-turning offer that can significantly boost both your playing power and winning chances.</li>
        <li><strong>Share the Thrill:</strong> Let your friends in on the excitement of AllSports247’s premium betting and live casino experience, making every victory even more memorable.</li>
        <li><strong>Win-Win for Both:</strong> Not only will you be able to enjoy a remarkable bonus, but your referred friend will also receive a generous welcome bonus, setting them up for success from the get-go.</li>
        <li><strong>Extra Incentives:</strong> With additional rewards, your gaming journey transforms into a saga of non-stop excitement.</li>
    </ul>

    <h2 class="h1 text-center mb-1 mt-5">GET STARTED TODAY!</h2>
    <p>Don’t miss out on this amazing chance to <strong>amplify your rewards and expand your gaming horizons!</strong> </p>
    <p>It’s time to seize the opportunity to refer your friends to AllSports247 and relish in a cascade of bonuses and extras that will redefine your online betting and live casino journey.</p>
    <p> As you enjoy the thrill of victories, you will also be celebrating your friends’ successes, creating a dynamic of shared triumphs and endless fun.</p>

    <h2 class="h1 text-center mb-1 mt-5">FAQS</h2>
    <h2 class="h2 mb-4 mt-1 text-center">YOUR REFER A FRIEND QUERIES ANSWERED</h2>
    <p><strong>How many friends can I refer?  </strong><br>
        There is no limit to the number of friends you can refer, meaning that the more friends you bring aboard, the more rewards you can enjoy!</p>
    <p><strong>Is there a deadline for referring friends?</strong><br>
        No, there is no expiration date! You can refer friends anytime and continue to earn rewards as they sign up and deposit. </p>
    <p><strong>Can I refer friends who are already members? </strong><br>
        The Refer a Friend program is designed for new members who haven’t signed up with AllSports247 before. However, existing members can still enjoy our other promotions and bonuses available on the platform.</p>

    <h2 class="h1 text-center mb-1 mt-5">EXPERIENCE THE POWER OF <br>CONNECTION AND REWARDS</h2>
    <p>Referring a friend to <strong>AllSports247</strong> isn’t just about sharing a platform… It’s also about fostering a community of winners. </p>
    <p>Get ready to unite with your friends in the pursuit of victories and bask in the glory of enhanced rewards, setting the stage for an unforgettable experience! </p>
    <p>Join hands, multiply the rewards, and let the spirit of competition and collaboration fuel your path to success with us here at AllSports247!</p>
</div>
</section>
<section class="bonus-sec py-5">
    <div class="container">
        <h2 class="h1">Extra Bonuses:</h2>
        <div class="row">
            <div class="col-sm-4 mb-4">
                <div class="coupon-box">
                    <h3>CASINO:</h3>
                    <p><strong>888% up to $888</strong></p>
                    <p>Plus 88 Free Spins*</p>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="coupon-box">
                    <h3>CASINO:</h3>
                    <p><strong>888% up to $888</strong></p>
                    <p>Plus 88 Free Spins*</p>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="coupon-box">
                    <h3>CASINO:</h3>
                    <p><strong>888% up to $888</strong></p>
                    <p>Plus 88 Free Spins*</p>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="coupon-box">
                    <h3>CASINO:</h3>
                    <p><strong>888% up to $888</strong></p>
                    <p>Plus 88 Free Spins*</p>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="coupon-box">
                    <h3>CASINO:</h3>
                    <p><strong>888% up to $888</strong></p>
                    <p>Plus 88 Free Spins*</p>
                </div>
            </div>
            <div class="col-sm-4 mb-4">
                <div class="coupon-box">
                    <h3>CASINO:</h3>
                    <p><strong>888% up to $888</strong></p>
                    <p>Plus 88 Free Spins*</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="flyer my-5">
    <div class="container my-3">
        <div class="row strip">
           <div class="col">
            <img src="../../../assets/images/customer-care.png" class="customer">
           </div>
           <div class="col-sm-6 pe-5 text">               
                <p>For further information please don´t hesitate to contact us</p>              
           </div>
           <div class="col align-items-center d-flex">
           <button class="btn theme-btn">
            Contact Us
           </button>
           </div>
        </div>
    </div>
 </div>