<section class="white-box my-5">
    <div class="container">
        <div class="box">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                  
                </div>
                <div class="col-md-6 col-sm-12">
                 <h2 class="text-center">Asian Handicap - Total Goals</h2>
                 <div class="text text-left">
                    <p>Similar to over/under betting, Asian Handicap total goals (also called “Asian Total”) 
                        will get you more for your money on certain scenarios:</p>
                        <p><strong>Receive 50%  </strong>of your stake back if you ‘half lose’.</p>
                        <p class="mb-0"><strong>Receive 50%</strong> of your winnings if you ‘half win’.</p>
                 </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="table-sec mb-5 pb-5">
   <div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Total Goal Bet</th>
                    <th>Total Goal Match</th>
                    <th>Bet Result</th>
                    <th>Total Goal Bet</th>
                    <th>Total Goal</th>
                    <th>Goal Bet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Over 0.5</td>
                    <td>1</td>
                    <td>Won</td>
                    <td>Under 0.5</td>
                    <td>1</td>
                    <td>Lost</td>
                </tr>
                <tr>
                    <td>Over 0.5</td>
                    <td>1</td>
                    <td>Won</td>
                    <td>Under 0.5</td>
                    <td>1</td>
                    <td>Lost</td>
                </tr>
                <tr>
                    <td>Over 0.5</td>
                    <td>1</td>
                    <td>Won</td>
                    <td>Under 0.5</td>
                    <td>1</td>
                    <td>Lost</td>
                </tr>
                <tr>
                    <td>Over 0.5</td>
                    <td>1</td>
                    <td>Won</td>
                    <td>Under 0.5</td>
                    <td>1</td>
                    <td>Lost</td>
                </tr>
                <tr>
                    <td>Over 0.5</td>
                    <td>1</td>
                    <td>Won</td>
                    <td>Under 0.5</td>
                    <td>1</td>
                    <td>Lost</td>
                </tr>
                <tr>
                    <td>Over 0.5</td>
                    <td>1</td>
                    <td>Won</td>
                    <td>Under 0.5</td>
                    <td>1</td>
                    <td>Lost</td>
                </tr>
            </tbody>
        </table>
    </div>
   </div>
</section>


<div class="flyer my-5">
    <div class="container my-3">
        <div class="row strip">
           <div class="col">
            <img src="../../../assets/images/customer-care.png" class="customer">
           </div>
           <div class="col-sm-6 pe-5 text">               
                <p>For further information please don´t hesitate to contact us</p>              
           </div>
           <div class="col align-items-center d-flex">
           <button class="btn theme-btn">
            Contact Us
           </button>
           </div>
        </div>
    </div>
 </div>