
<div id="liveBetting" class="home-banner curve-design-r carousel slide carousel-fade">
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#liveBetting" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#liveBetting" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#liveBetting" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div> -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/live-betting/hero_live_betting.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-center">
          <h5>REFER A FRIEND<br>AND REAP REWARDS</h5>
          <h3>EARN 888% UP TO $888 <br> PLUS EXTRA REWARDS</h3>
          <button class="btn theme-btn mt-4 mx-auto">BET NOW!</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/banners/banner1.jpeg" class="d-block w-100" alt="...">
      </div>
     
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#liveBetting" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#liveBetting" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>
  <div class="h1-container">
    <h1 class="container mb-2">Dive into Live Betting at AllSports247 <span>The Dynamic World of Live Betting</span> </h1>
</div>
    <section class="gray-sec py-5">
       <div class="container">    
        <p>Welcome to the <strong>heart-pounding universe of live betting at AllSports247</strong>. As the action unfolds in real-time, so do your chances of striking gold! </p>
        <p class="mb-0">Live betting is more than just wagering; it’s an immersive experience that amplifies your connection to the game and allows you to harness your expertise and instincts for potential outcomes.</p>   
       </div>
    </section>

    <section class="casino-sec mt-3 py-5">
     <div class="container">
        <div class="row">
            <div class="col-sm-4 mb-4 ">
              <div class="content">
                <a href="#" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_1.jpg" alt="">
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Lorem Ipsum</h3>
                    <p class="content-text">Lorem Ipsum</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-4 mb-4">
              <div class="content">
                <a href="#" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_2.jpg" alt="">
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Lorem Ipsum</h3>
                    <p class="content-text">Lorem Ipsum</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-4 mb-4">
              <div class="content">
                <a href="#" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_3.jpg" alt="">
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Lorem Ipsum</h3>
                    <p class="content-text">Lorem Ipsum</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-4 mb-4">
              <div class="content">
                <a href="#" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_4.jpg" alt="">
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Lorem Ipsum</h3>
                    <p class="content-text">Lorem Ipsum</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-4 mb-4">
              <div class="content">
                <a href="#" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_1.jpg" alt="">
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Lorem Ipsum</h3>
                    <p class="content-text">Lorem Ipsum</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="content">
                <a href="#" target="_blank">
                  <div class="content-overlay"></div>
                  <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_2.jpg" alt="">
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Lorem Ipsum</h3>
                    <p class="content-text">Lorem Ipsum</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
     </div>
     </section>
     <!-- <section class="casino-sec mt-3 py-5">
      <div class="container">
         <div class="row">
             <div class="col-sm-4 mb-4 ">
               <div class="box-content">                           
                   <div class="img-box">
                     <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_1.jpg" alt="">
                   </div>
                   <div class="content-details">
                     <h3 class="content-title">Lorem Ipsum</h3>
                     <p class="content-text">Lorem Ipsum</p>
                   </div>        
               </div>
             </div>
             <div class="col-sm-4 mb-4">
               <div class="box-content">                           
                 <div class="img-box">
                   <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_2.jpg" alt="">
                 </div>
                 <div class="content-details">
                   <h3 class="content-title">Lorem Ipsum</h3>
                   <p class="content-text">Lorem Ipsum</p>
                 </div>        
             </div>
             </div>
             <div class="col-sm-4 mb-4">
               <div class="box-content">                           
                 <div class="img-box">
                   <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_3.jpg" alt="">
                 </div>
                 <div class="content-details">
                   <h3 class="content-title">Lorem Ipsum</h3>
                   <p class="content-text">Lorem Ipsum</p>
                 </div>        
             </div>
             </div>
             <div class="col-sm-4 mb-4">
               <div class="box-content">                           
                 <div class="img-box">
                   <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_4.jpg" alt="">
                 </div>
                 <div class="content-details">
                   <h3 class="content-title">Lorem Ipsum</h3>
                   <p class="content-text">Lorem Ipsum</p>
                 </div>        
             </div>
             </div>
             <div class="col-sm-4 mb-4">
               <div class="box-content">                           
                 <div class="img-box">
                   <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_1.jpg" alt="">
                 </div>
                 <div class="content-details">
                   <h3 class="content-title">Lorem Ipsum</h3>
                   <p class="content-text">Lorem Ipsum</p>
                 </div>        
             </div>
             </div>
             <div class="col-sm-4">
               <div class="box-content">                           
                 <div class="img-box">
                   <img class="content-image" src="../../../assets/images/live-betting/live_betting_img_2.jpg" alt="">
                 </div>
                 <div class="content-details">
                   <h3 class="content-title">Lorem Ipsum</h3>
                   <p class="content-text">Lorem Ipsum</p>
                 </div>        
               </div>
             </div>
           </div>
      </div>
      </section> -->
    
      <section class="main-content mb-5">
        <div class="container">
        <h2 class="h1 text-center mb-1 mt-5">WHAT IS LIVE BETTING?</h2>
        <!-- <h2 class="h2 mb-3 mt-5">SPINNING EXCITEMENT</h2> -->
        <p>Live betting, also known as in-play betting, <strong>revolutionizes the traditional approach to sports wagering</strong>. Unlike pre-match bets, where you place wagers before the game begins, live betting allows you to place bets during the course of the event.</p>
        <p>As matches progress, odds shift in response to the changing dynamics, giving you the chance to make strategic decisions on the fly.</p>
        <h2 class="h2 mb-3 mt-5">THE THRILL OF IN-THE-MOMENT WAGERS</h2>
        <p>Experience the rush of making <strong>split-second decisions that turn every play into an opportunity</strong>. In-the-moment wagers, a hallmark of live betting, means you get to ride the wave of the game’s momentum.</p>
        <p>Feel the adrenaline surge as you predict the next goal, point, or pivotal move, all while the match unfolds before your eyes. This dynamic interaction with the game adds an electrifying layer of engagement, where your instincts and sports knowledge combine to create a truly immersive betting experience.</p>
        <p><strong>Welcome to the heart of the action, where every decision is a heartbeat away from triumph!</strong></p>

        <h2 class="h1 text-center mb-1 mt-5">REAL-TIME ACTION & REAL-TIME OPPORTUNITIES</h2>
        <p>Imagine watching a football match or a tennis showdown and having the power to predict the next goal, point, or fi nal outcome while the game is in progress… </p>
        <p>With <strong>live betting at AllSports247</strong>, this fantasy becomes your reality!</p>
        <p>Our platform is designed to keep you at the forefront of the action with instant updates and constantly evolving odds that refl ect the unfolding events. This dynamic environment empowers you to make split-second decisions, adding a layer of excitement that pre-match bets simply can’t replicate.</p>

        <h2 class="h2 mb-3 mt-5">INSTANT UPDATES FOR STRATEGIC WAGERING</h2>
        <p>Stay ahead of the game with our real-time updates that are specifi cally tailored for strategic betting. As matches evolve, so do the odds, and our platform ensures you’re armed with the latest information to make informed decisions. </p>
        <p>Witness the odds shift in response to on-field dynamics, empowering you to seize advantageous moments for your bets.</p>
        <p>With instant updates at your fingertips, you will be equipped to strategically navigate the twists and turns of live betting, turning each update into an opportunity and each wager into a calculated move toward your victory.</p>

        <h2 class="h1 text-center mb-1 mt-5">THE SPECTRUM OF LIVE BETTING OPPORTUNITIES</h2>
        <p>At AllSports247, we pride ourselves on offering an <strong>extensive range of live betting options that cater to every sports enthusiast’s preferences</strong>. </p>
        <p>Whether it’s a high-octane football match, a fast-paced basketball game, or the finesse of a tennis match, our platform covers a diverse spectrum of sports, ensuring there’s always something for everyone.</p>
        <p>Delve into the adrenaline-charged world of live betting, and with each passing second, witness how your strategies and predictions can translate into thrilling victories.</p>

        <h2 class="h1 text-center mb-1 mt-5">YOUR BETTING EXPERIENCE, YOUR WAY</h2>
        <p>Live betting is a playground for both <strong>seasoned bettors and newcomers</strong>. It’s an arena where your sports knowledge, instincts, and understanding of the game can translate into tangible rewards.</p>
        <p>Use your insights to spot trends, assess player performance, and gauge the ebb and fl ow of the match to make informed decisions that could lead to substantial wins.</p>
        <p>At AllSports247, we believe in <strong>empowering you with the tools</strong> to make the most of every second of the game!</p>

        <h2 class="h1 text-center mb-1 mt-5">STAY IN CONTROL WITH LIVE BETTING</h2>
        <p>At AllSports247, we put you in the driver’s seat of your live betting journey. <strong>Our user-friendly interface</strong> ensures navigating the dynamic world of in-play bets is effortless.</p>
        <p>With <strong>clear odds, instant updates, and a range of betting options</strong>, you will have all the tools you need to make well-informed decisions in the heat of the moment.</p>
        <p>Stay in control, adapt your strategies, and experience the best of live betting like never before!</p>

        <h2 class="h1 text-center mb-1 mt-5">JOIN THE LIVE BETTING REVOLUTION TODAY</h2>
        <p>Don’t miss out on the thrill of live betting!</p>
        <p>It’s a game-changer that enhances your connection to sports events, amplifies your winnings, and immerses you in a world of real-time excitement.</p>
        <p>At <a href="#"><strong>AllSports247</strong></a>, we invite you to dive into the heart of the action, harness your instincts, and be part of the revolution that is transforming the way you engage with sports betting.</p>
        <p>Join us now, and experience the electrifying fusion of sports, strategy, and instant winnings in the amazing realm of live betting!</p>
        </div>
      </section>
     
      <div class="flyer my-5">
        <div class="container my-3">
            <div class="row strip">
               <div class="col">
                <img src="../../../assets/images/customer-care.png" class="customer">
               </div>
               <div class="col-sm-6 pe-5 text">               
                    <p>For further information please don´t hesitate to contact us</p>              
               </div>
               <div class="col align-items-center d-flex">
               <button class="btn theme-btn">
                Contact Us
               </button>
               </div>
            </div>
        </div>
     </div>