<div id="sportsBanner" class="home-banner curve-design-r carousel slide carousel-fade">
  <!-- <div class="carousel-indicators">
    <button type="button" data-bs-target="#sportsBanner" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#sportsBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#sportsBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/sports/hero_sports.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block text-center">
        <h5>REFER A FRIEND<br>AND REAP REWARDS</h5>
        <h3>EARN 888% UP TO $888 <br> PLUS EXTRA REWARDS</h3>
        <button class="btn theme-btn mt-4 mx-auto">BET NOW!</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banners/banner1.jpeg" class="d-block w-100" alt="...">
    </div>

  </div>
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#sportsBanner" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sportsBanner" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
</div>
<div class="h1-container">
  <h1 class="container mb-2">Beyond Boundaries<span>AllSports247 Sport Covers the Globe</span></h1>
  <!-- <h2 class="container mb-2">AllSports247 Sport Covers the Globe</h2> -->
</div>
<section class="gray-sec py-5">
  <div class="container">
    <p>At AllSports247, our commitment to sports knows no limits. While we celebrate the USA's passion for basketball,
      football, hockey, racing, soccer and many more, our platform transcends borders to encompass the world of sports.
    </p>

    <p class="mb-0">From cricket in India to rugby in New Zealand, from tennis in Wimbledon to golf in Augusta, we
      ensure you have a front-row seat to the planet's most exciting athletic events.
    </p>
  </div>
</section>
<section class="sports-sec  pt-5">
  <div class="container">
    <div class="row mb-3 ">
      <div class="col-sm-12 col-md-6 px-0 img-bg mb-5">
        <img src="../../../assets/images/sports/sports1.png" class="w-100">
      </div>
      <div class="col-sm-12 col-md-6 white-down-curve-bg px-5 mb-5">
        <!-- <img src="../../../assets/images/sports/white-down-curve.png"> -->
        <h3>Basketball: A Slam-Dunk of Excitement</h3>
        <p>Experience the best of the hardwood as AllSports247 takes you courtside to the heart-pounding world of
          basketball. Whether the NBA or college hoops, we bring you courtside with the latest odds, in-depth analysis,
          and thrilling live betting options. </p>
        <p>Feel the game's energy as you wager on dunks, three-pointers, and game-changing plays, all in real time.</p>
        <div class="btn-sec d-flex">
          <button class="btn theme-btn mx-auto">
            BET NOW!
          </button>
        </div>
      </div>
    </div>
    <div class="row mb-5 res-order">
      <div class="col-sm-12 col-md-6 white-up-curve-bg px-5 mb-5">
        <!-- <img src="../../../assets/images/sports/white-up-curve.png"> -->
        <h3>American Football: Beyond a Game, a National Passion</h3>
        <p>American football is more than a sport; it's a cultural phenomenon that captivates the nation. AllSports247
          celebrates this fervor by delivering comprehensive coverage of football's every facet. </p>
        <p>From the NFL to college football, our platform offers expert insights, live betting opportunities, and a
          chance to engage with the game's ebb and flow like never before.</p>
        <div class="btn-sec d-flex">
          <button class="btn theme-btn mx-auto">
            BET NOW!
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 px-0 img-bg mb-5">
        <img src="../../../assets/images/sports/sports2.png" class="w-100">
      </div>
    </div>
    <div class="row mb-3 ">
      <div class="col-sm-12 col-md-6 px-0 img-bg mb-5">
        <img src="../../../assets/images/sports/sports1.png" class="w-100">
      </div>
      <div class="col-sm-12 col-md-6 white-down-curve-bg px-5 mb-5">
        <!-- <img src="../../../assets/images/sports/white-down-curve.png"> -->
        <h3>Hockey: On Ice, the Action Heats Up</h3>
        <p>Witness the grace and power of hockey unfold on our platform, where every slapshot, save, and goal becomes an
          opportunity to wager and win. With our <b>in-depth coverage of the NHL and international hockey leagues,</b> you'll
          be immersed in the thrilling world of ice battles.</p>
        <p>Experience the fast-paced intensity and strategic finesse of hockey through our expertly curated odds and
          live betting options.</p>
        <div class="btn-sec d-flex">
          <button class="btn theme-btn mx-auto">
            BET NOW!
          </button>
        </div>
      </div>
    </div>
    <div class="row res-order">
      <div class="col-sm-12 col-md-6 white-up-curve-bg px-5 mb-5">
        <!-- <img src="../../../assets/images/sports/white-up-curve.png"> -->
        <h3>Racing: Adrenaline-Fueled Excitement</h3>
        <p>From the racetracks to the circuits, AllSports247 fuels your need for speed with our comprehensive coverage
          of racing events. </p>
        <p>Whether the roar of NASCAR, the elegance of Formula 1, or the excitement of IndyCar, our platform delivers
          the latest updates, odds, and live betting options, putting you in the driver's seat. Engage with the
          pulsating racing world as you wager on drivers, teams, and podium finishes.</p>
        <div class="btn-sec d-flex">
          <button class="btn theme-btn mx-auto">
            BET NOW!
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 px-0 img-bg mb-5">
        <img src="../../../assets/images/sports/sports2.png" class="w-100">
      </div>
    </div>
    <div class="row mb-3-0">
      <div class="col-sm-12 col-md-6 px-0 img-bg mb-5">
        <img src="../../../assets/images/sports/sports1.png" class="w-100">
      </div>
      <div class="col-sm-12 col-md-6 white-down-curve-bg px-5 mb-5">
        <!-- <img src="../../../assets/images/sports/white-down-curve.png"> -->
        <h3>Soccer: The Global Phenomenon</h3>
        <p>While the USA has its sports passions, the world unites around soccer. At AllSports247, we transcend borders
          to bring you the <b>most thrilling soccer action from every corner of the globe.</b> </p>
        <p>Immerse yourself in the world's most popular sport with our diverse coverage of international leagues, club
          matches, and major tournaments. Our platform is your passport to the soccer universe, from Premier League
          clashes to World Cup showdowns.</p>
        <div class="btn-sec d-flex">
          <button class="btn theme-btn mx-auto">
            BET NOW!
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-content mb-5">
  <div class="container">
    <!-- About Us Content -->
  <h2 class="h1 text-center mb-1 mt-5">YOUR GATEWAY TO UNPARALLELED SPORTS ENGAGEMENT</h2>
  <!-- <h2 class="h2 text-center mt-0 mb-4">WHERE ENTERTAINMENT AND WINNING CONVERGE</h2> -->
  <p>With AllSports247, you’re not just a spectator… You’re an <strong>active participant in the adrenaline-charged world of sports!</strong></p>
  <p>Our platform empowers you to enjoy the games you love and engage with them on a whole new level through our diverse betting options. Find yourself in the strategies, moments, and triumphs that make sports unforgettable.</p>
  <p>Join us now and elevate your sports experience to new heights with AllSports247!</p>
  <h2 class="h2  mb-3 mt-5">EXPANDING BEYOND BORDERS</h2>
  <p>While we cherish the diverse sports fervor of the USA, AllSports247’s reach extends far and wide. <strong>Our platform’s inclusive spirit embraces sports from around the world</strong>, uniting enthusiasts in a shared passion for athletic excellence.</p>
  <p>From Tokyo to Rio and London to Sydney, our coverage transcends geographical boundaries, ensuring you’re connected to the global sports tapestry.</p>
  <p>Join us in celebrating the universal language of competition, where victories, defeats, and unforgettable moments unite us under the banner of sportsmanship.</p>

  <h2 class="h1 text-center mb-1 mt-5">THE TWO FACES OF BETTING:</h2>
  <h2 class="h2 mb-3 mt-5">PRE-MATCH & LIVE</h2>
  <p>At AllSports247, we off er a dual gateway to the world of sports betting; pre-match and live.</p>
  <p>Each avenue provides a unique and thrilling way to engage with your favorite sports events, whether you’re a strategic planner or an adrenaline-driven risk-taker.</p>
  <p>Explore both options to uncover the nuances, strategies, and exhilaration of each type of bet and fi nd the approach that resonates with your sports betting style.</p>

  <h2 class="h2 mb-3 mt-5">PRE-MATCH BETTING: STRATEGIC CALCULATIONS</h2>
  <p>Engage in pre-match betting, where <strong>careful analysis and strategic calculations</strong> come into play. Before the event begins, you have the advantage of time to research team statistics, player form, and historical trends. </p>
  <p>This knowledge empowers you to make informed wagers refl ecting your insights, setting the stage for a compelling clash between your expertise and the unpredictability of sports.</p>
  <p>With pre-match betting, it’s a game of anticipation where your well-laid strategies can yield satisfying victories!</p>

  <h2 class="h2 mb-3 mt-5">LIVE BETTING: RIDING THE WAVES OF ACTION</h2>
  <p>Experience the exhilaration of live betting, where your instincts take center stage as the game unfolds. With <strong>real-time odds that adapt to the action</strong>, you’re in the midst of the excitement, making split-second decisions on changing outcomes.</p>
  <p>Live betting is an adrenaline-fueled adventure where you’re not just a spectator but an active participant, reading the ebb and fl ow of the match and seizing opportunities as they arise. </p>
  <p>Engage in the thrill of in-the-moment decisions and let your intuition guide you to triumphant outcomes!</p>
  </div>
</section>
<div class="flyer my-5">
  <div class="container my-3">
    <div class="row strip">
      <div class="col">
        <img src="../../../assets/images/customer-care.png" class="customer">
      </div>
      <div class="col-sm-6 pe-5 text">
        <p>For further information please don´t hesitate to contact us!</p>
      </div>
      <div class="col align-items-center d-flex">
        <button class="btn theme-btn">
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>