<div class="video-banner w-100">
  <!-- <iframe width="100%" height="450" controls="false" autoplay="autoplay" src="https://www.youtube.com/embed/K4TOrB7at0Y?si=pu7-8DlmuivqOYfE&controls=0" frameborder="0" allowfullscreen></iframe> -->

  <video width="100%" loop autoplay controls="false">
    <source
      src="https://player.vimeo.com/external/371611850.sd.mp4?s=890f494f551cb78cf3c2059034f2036fde51c928&profile_id=164&oauth2_token_id=57447761"
      type="video/mp4">
  </video>
</div>
<div class="curve">
  <img src="../../../assets/images/banners/banner-curve.svg">
</div>
<section class="search-sec my-5">
  <div class="container">
    <h2 class="text-center uppercase">Search For Keyword</h2>
    <div class="input-group mb-5 search-group">
      <input type="text" class="form-control" placeholder="Search . . ." name="search" [(ngModel)]="searchText"
        aria-label="Recipient's username" aria-describedby="basic-addon2">
      <!-- placeholder="&#61442;  Start searching..." -->
      <span class="input-group-text" id="basic-addon2"> <i class="fa-solid fa-magnifying-glass"></i> </span>
    </div>
    <div class="product-slides">
      <h2 class="text-center uppercase">Search for Categories</h2>

      <div id="p-slides" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="tiles">
              <div class="tile" (click)="selectedcategory('1')">
                <img src="../../../assets/images/help/sports.jpg" width="w-100">
                <div class="text">
                  <h4>Sports</h4>
                  <i class="fa-solid fa-football"></i>
                </div>
              </div>
              <div class="tile" (click)="selectedcategory('1')">
                <img src="../../../assets/images/help/casino.jpg" width="w-100">
                <div class="text">
                  <h4>Casino</h4>
                  <i class="fa-brands fa-bitcoin"></i>
                </div>
              </div>
              <div class="tile" (click)="selectedcategory('1')">
                <img src="../../../assets/images/help/live-betting.jpg" width="w-100">
                <div class="text">
                  <h4>Live Betting</h4>
                  <i class="fa-regular fa-clock"></i>
                </div>
              </div>
              <div class="tile" (click)="selectedcategory('1')">
                <img src="../../../assets/images/help/h-racing.jpg" width="w-100">
                <div class="text">
                  <h4>Horse Racing</h4>
                  <i class="fa-solid fa-horse"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="tiles">
              <div class="tile" (click)="selectedcategory('1')">
                <img src="../../../assets/images/help/sports.jpg" width="w-100">
                <div class="text">
                  <h4>Sports</h4>
                  <i class="fa-solid fa-football"></i>
                </div>
              </div>
              <div class="tile" (click)="selectedcategory('1')">
                <img src="../../../assets/images/help/casino.jpg" width="w-100">
                <div class="text">
                  <h4>Casino</h4>
                  <i class="fa-brands fa-bitcoin"></i>
                </div>
              </div>
              <div class="tile" (click)="selectedcategory('1')">
                <img src="../../../assets/images/help/live-betting.jpg" width="w-100">
                <div class="text">
                  <h4>Live Betting</h4>
                  <i class="fa-regular fa-clock"></i>
                </div>
              </div>
              <div class="tile" (click)="selectedcategory('1')">
                <img src="../../../assets/images/help/h-racing.jpg" width="w-100">
                <div class="text">
                  <h4>Horse Racing</h4>
                  <i class="fa-solid fa-horse"></i>
                </div>
              </div>
            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#p-slides" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#p-slides" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


  </div>
</section>

<section class="accordian-sec mb-5">
  <div class="container">
    <div class="accordion">
      <!-- *ngFor="let item of helptextArray |filter:searchText;let i = index" -->
      <!-- (click)="expand(i)" -->
      <div class="accordion-item" *ngFor="let item of helptextArray |filter:searchText;let i = index">
        <h2 class="accordion-header" id="HelpHeadingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne" (click)="expand(i)">
            {{item.question}}
            <!-- Accordion Item #1 -->
          </button>
        </h2> 
        <div id="HelpHeadingOne" class="accordion-collapse collapse show" *ngIf="expandarray[i]">
          <div class="accordion-body">
            {{item.solution}}
            <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow. -->
          </div>
        </div>
      </div>
      <!-- <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Accordion Item #2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accoHelp">
          <div class="accordion-body">
            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
            plugin adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accoHelp">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div> -->
    </div>
    <div class="btn-sec d-flex">
      <a href="#" class="see-all ms-auto mt-3 mb-3">See All <i class="fa-solid fa-arrow-right"></i></a>
    </div>
  </div>
</section>