<section class="content-sec my-5">
    <div class="container">
        <h2 class="h1 text-center mb-1">Terms & Conditions</h2>
        <p>This agreement contains all of the terms and conditions between Allsports247 and the individual player, herein referred to as the “Client.” </p>
        <p>“Client” is defined as a person who has created a new Allsports247 account, either online or via telephone with an Account Management representative. Allsports247 may modify any of the terms and conditions contained in this Agreement, at any time and at our sole discretion, by notifying the Client via email, or by posting a notice or a new agreement on our website.</p>
        <p> Modifications may include, but are not limited to, changes in the scope of available wager types, schedules, banking center options, limits, and procedures or referral program rules. If any modification is unacceptable to the client, they may terminate this agreement and close their account. Your continued activity in your account following our posting of a change notice or new agreement on our website will constitute binding acceptance of that change.</p>
        
        <h2 class="h2 uppercase">1. SIGNING UP – JOIN</h2>
        <p>A Client may begin the sign-up process in one of two ways. They may submit a complete application from the signup portion of the Allsports247 website or contact a call center Sales Representative via telephone at 813-736-1484. It is required that the information provided by the Client at the time of signup be accurate and valid. Allsports247 reserves the right to reject or cancel any account created if it has been determined that the Client has already created an account, that the information is invalid or inaccurate, has been blacklisted, or for any other reason left to the sole discretion of management. </p>
        <p>By opening an account with Allsports247, the Client agrees that all Allsports247 client rules, policies, and operating procedures will apply to them. Allsports247 reserves the right to refuse Client’s action or close their accounts if necessary to comply with any requirements that may be established. Clients shall not open more than one client account per household without prior written consent from Allsports247. If a client would like to test the system, Allsports247 will provide the client with a demo account. In the event of a violation, Allsports247 has the right to void all current and future play, as well as the potential win/loss from that play.</p>
        <h2 class="h2 uppercase">2. CHOICE/OPT-OUT </h2>
        <p>We communicate with our clients on a regular basis to provide information regarding their account, exclusive offers, and updates. We may contact our clients via email or phone, in accordance with their expressed wishes. Likewise, we respect our clients’ privacy and will not rent, trade, or release our clients’ information without their consent. All our clients may visit the “My Profile” section to manage their subscriptions at any time.</p>
        <h2 class="h2 uppercase">3. REPORTING ACTIVITY</h2>
        <p>Allsports247 will keep periodic track of Clients’ wagering activity at all times and will supply reports summarizing this activity. The format, content, and frequency of the reports may vary from time to time at our sole discretion.</p>       
        <h2 class="h2 uppercase">4. PLAYER RIGHTS</h2>
        <p>The client reserves the right to question or request clarification of rules, policies, and procedures implemented by Allsports247. Questions should be directed to an Account Management representative either through the phone or through our online chat system. In the event there may be a discrepancy with the grading of a wager or an account balance, the client may request to listen to a recording of the call when the wager was placed (if by phone) or the client may request a report of their wagering activity at any time online.</p>
        
        <h2 class="h2 uppercase">5. TERMS & TERMINATION</h2>
        <p>The term of this Agreement will begin upon Allsports247’s written confirmation of the creation of your account. Either Allsports247 or the client may terminate this Agreement at any time, with or without cause. Allsports247 has the right to terminate the agreement without prior notice if the client breaches any terms or conditions of this agreement. </p>
        <p>Allsports247 may withhold final payment for a reasonable time to ensure that the correct amount is paid to the client.</p>

        <h2 class="h2 uppercase">6. NO REPRESENTATION OR GUARANTEE REGARDING PROFITS OR INCOME</h2>
        <p>The client agrees, understands, and acknowledges that Allsports247’s officers, directors, shareholders, employees, and/or accountants have made no representation of any nature whatsoever to the client regarding profits, income, or money which the client may obtain or generate from the Service; and/or from entering into this “Agreement”; and/or from marketing; and/or promoting any version of this Service; and/or from any other matter relating to this “Agreement”; and/or to the subject of this “Agreement.” </p>
        <p>Any expression by Allsports247 in this regard is an expression of opinion only, and the client agrees, understands, and acknowledges that they have not been induced to, and/or persuaded thereby to, enter into this “Agreement” and that the Affiliate has entered into the Agreement of their own free will and choice, without any force or duress, and only after thorough, complete, full, and thoughtful investigation and after obtaining independent advice and counsel from their accountant, their attorney, and their financial advisors.</p>

        <h2 class="h2 uppercase">7. INDEMNITY</h2>
        <p>The client shall defend, indemnify, and hold our affiliates, directors, officers, employees, and representatives harmless from and against any and all liabilities, losses, damages, and costs, including reasonable attorney’s fees, resulting from, arising out of, or in any way connected with (a) any breach of warranty, representation, or agreement contained in this Agreement, (b) the performance of your duties and obligations under this Agreement, (c) your negligence or (d) any injury caused directly or indirectly by your negligent or intentional acts or omissions.</p>

        <h2 class="h2 uppercase">8. DISCLAIMERS</h2>
        <p>Allsports247 makes no express or implied warranties or representations with respect to their services. In addition, we make no representation that the operation of our site will be uninterrupted or error-free and will not be liable for the consequences of any interruptions or errors.</p>

        <h2 class="h2 uppercase">9. LIMITATION OF LIABILITY</h2>
        <p>Allsports247 will not be liable for indirect, special, or consequential damages (or any loss of revenue, profits, or data) arising in connection with this Agreement, even if we have been advised of the possibility of such damages. Further, our aggregate liability arising with respect to this Agreement will not exceed the total commission fees paid or payable to clients under this Agreement. Nothing in this Agreement shall be construed to provide any rights, remedies, or benefits to any person or entity not a party to this Agreement. Our obligations under this Agreement do not constitute personal obligations of our directors, officers, employees, or shareholders.</p>

        <h2 class="h2 uppercase">10. INDEPENDENT INVESTIGATION</h2>
        <p>The client acknowledges that he/she has read this agreement and agrees to all its terms and conditions. The client has independently evaluated the desirability of participating in this Agreement and is not relying on any representation, guarantee, or statement other than set forth in this Agreement.</p>

        <h2 class="h2 uppercase">11. ASSIGNABILITY AND INCREMENT</h2>
        <p>The client may not assign this Agreement, by operation of law or otherwise, without prior written consent of Allsports247. Subject to that restriction, this Agreement will be binding on, inure to the benefit of, and enforceable against the Client and Allsports247.</p>

        <h2 class="h2 uppercase">12. NON-WAIVER</h2>
        <p>Our failure to enforce your strict performance of any provision of this Agreement will not constitute a waiver of our right to subsequently enforce such provision or any other provision of this Agreement. <strong>NO MODIFICATIONS, ADDITIONS, DELETIONS, OR INTERLINEATIONS OF THIS AGREEMENT ARE PERMITTED OR WILL BE RECOGNIZED BY US</strong>. None of our employees, officers, or agents may verbally alter, modify, or waive any provision.</p>


        <h2 class="h2 uppercase">13. ALLSPORTS247 CURRENTLY RESTRICTS PLAY ONLY FROM THE FOLLOWING JURISDICTIONS:</h2>
       
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <ul class="mb-0">
                    <li>Afghanistan </li>
                    <li>Australia </li>
                    <li>Bulgaria </li>
                    <li>Central African Republic </li>
                    <li>Côte d’Ivoire </li>
                    <li>Cuba </li>
                    <li>Democratic Republic of the Congo </li>
                    <li>Democratic People’s Republic of Korea </li>
                    <li>Eritrea </li>
                    <li>France </li>
                    <li>French Guiana </li>
                    <li>French Polynesia </li>
                    <li>French Southern Territories </li>
                    <li>Guinea </li>
                    <li>Guinea-Bissau </li>
                    <li>Iran </li>
                    <li>Iraq </li>
                   
                    </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <ul>
         
                   
                    <li>Lebanon </li>
                    <li>Liberia </li>
                    <li>Libyan Arab Jamahiriya (Libya) </li>
                    <li>Mali </li>
                    <li>Malta </li>
                    <li>Myanmar (Burma) </li>
                    <li>Netherlands </li>
                    <li>Netherlands Antilles </li>
                    <li>New Jersey </li>
                    <li>Panama</li>
                    <li>Republic of Korea </li>
                    <li>Sierra Leone  </li>
                    <li>Slovenia</li>
                    <li>Somalia </li>
                    <li>Sudan </li>
                    <li>Syrian Arab Republic </li>
                    <li>Yemen</li>
                    <li>Zimbabwe</li>
                    </ul>
            </div>
        </div>
       
        <p>
            Use of the website and associated services are expressly prohibited from the jurisdictions listed above. Any account accessed from a restricted state or country will have all access rights revoked, and any balance contained in the account may be considered void. You are required to notify us immediately should you intend to relocate to, or visit, a restricted state. Your account will then be placed on a temporary hold or permanently closed, depending on the circumstances, with any balance available being returned to you. Any attempt on your part to circumvent these restrictions, in any way, will result in closure of your account and any balance deemed to have been forfeited.
        </p>
        <!-- <div class="btn-sec d-flex">
            <button class="btn theme-btn my-4 mx-auto">
                Contact Us
            </button>
        </div> -->

    </div>
</section>