<div id="promotionBanner" class="home-banner carousel slide carousel-fade">
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#promotionBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#promotionBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#promotionBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div> -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/promos/hero_promotions.jpg" class="d-block w-100 img-hor" alt="...">
        <div class="carousel-caption d-none d-md-block text-center">
            <h5>REFER A FRIEND<br>AND REAP REWARDS</h5>
            <h3>EARN 888% UP TO $888 <br> PLUS EXTRA REWARDS</h3>
            <button class="btn theme-btn mt-4 mx-auto">BET NOW!</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/banners/banner1.jpeg" class="d-block w-100" alt="...">
      </div>
     
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#promotionBanner" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#promotionBanner" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
  </div>
  <div class="curve">
    <img src="../../../assets/images/banners/banner-curve.svg">
  </div>
  <div class="container">
    <h2 class="h1 text-center mb-3">ELEVATE YOUR BETTING EXPERIENCE <br>WITH ALLSPORTS247’S PROMOTIONS</h2>
</div>
  <section class="gray-sec py-5">
    <div class="container">    
     <p>At AllSports247, we believe betting shouldn’t only be exciting but also <strong>convenient</strong>. That’s why we’ve curated a <strong>diverse array of promotions</strong> that cater to every kind of player, enhancing your journey with us.</p>
     <p class="mb-0">From captivating welcome bonuses to enticing casino promotions and increased jackpots to the thrill of free spins, our platform is designed to elevate your experience and reward your dedication!</p>   
    </div>
 </section>
  <section class="promo-sec mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
               <div class="promo-box mb-4">
                <div class="row">
                    <div class="col-sm-6">
                       <div class="text">
                        <h3>Lorem Ipsum Bonus</h3>
                        <p>Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit. 
                            Phasellus sit amet 
                            </p>
                            <button class="btn theme-btn">
                                Deposite Now
                            </button>
                       </div>
                    </div>
                    <div class="col-sm-6">
                        <img src="../../../assets/images/promos/promos_img_1.png" class="w-100 h-100">
                    </div>
                </div>
               </div>
            </div>
            <div class="col-sm-6">
                <div class="promo-box mb-4">
                    <div class="row">
                        <div class="col-sm-6">
                           <div class="text">
                            <h3>Lorem Ipsum Bonus</h3>
                            <p>Lorem ipsum dolor sit amet, 
                                consectetur adipiscing elit. 
                                Phasellus sit amet 
                                </p>
                                <button class="btn theme-btn">
                                    Deposite Now
                                </button>
                           </div>
                        </div>
                        <div class="col-sm-6">
                            <img src="../../../assets/images/promos/promos_img_2.png" class="w-100 h-100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="promo-box mb-4">
                 <div class="row">
                     <div class="col-sm-6">
                        <div class="text">
                         <h3>Lorem Ipsum Bonus</h3>
                         <p>Lorem ipsum dolor sit amet, 
                             consectetur adipiscing elit. 
                             Phasellus sit amet 
                             </p>
                             <button class="btn theme-btn">
                                 Deposite Now
                             </button>
                        </div>
                     </div>
                     <div class="col-sm-6">
                         <img src="../../../assets/images/promos/promos_img_3.png" class="w-100 h-100">
                     </div>
                 </div>
                </div>
             </div>
             <div class="col-sm-6">
                <div class="promo-box">
                 <div class="row">
                     <div class="col-sm-6">
                        <div class="text">
                         <h3>Lorem Ipsum Bonus</h3>
                         <p>Lorem ipsum dolor sit amet, 
                             consectetur adipiscing elit. 
                             Phasellus sit amet 
                             </p>
                             <button class="btn theme-btn">
                                 Deposite Now
                             </button>
                        </div>
                     </div>
                     <div class="col-sm-6">
                         <img src="../../../assets/images/promos/promos_img_4.png" class="w-100 h-100">
                     </div>
                 </div>
                </div>
             </div>
        </div>
    </div>
  </section>

  <section class="main-content">
   <div class="container">
     <!-- <h2 class="h1 text-center mb-1 mt-5">WELCOME BONUS: A GRAND ENTRANCE</h2> -->
     <h2 class="h2 mb-4 mt-5">WELCOME BONUS: A GRAND ENTRANCE</h2>
     <p>As you step into the world of AllSports247, we welcome you with a generous embrace, otherwise known as our <a href="#"><strong>welcome bonus</strong></a>. This introductory off er extends your bankroll, allowing you to explore our diverse betting options with extra funds at your disposal.</p>
     <p> It’s more than just a bonus; it’s also an invitation to immerse yourself in our platform’s excitement and discover the multitude of opportunities awaiting you.</p>
 
     <h2 class="h2 mb-4 mt-5">CASINO PROMOTIONS: A WORLD OF SURPRISES</h2>
     <p>Dive into a world of surprises with our captivating casino promotions. From thrilling free spins that allow you to spin the reels without risking your funds to unique deposit match offers that give you more to play with, our <strong>casino promotions enhance every gaming session</strong>.</p>
     <p>Uncover hidden treasures, embrace the thrill of bonuses, and experience the added joy of betting on AllSports247’s casino games with promotions tailored to amplify your fun.</p>

     <h2 class="h2 mb-4 mt-5">LARGER-THAN-LIFE JACKPOTS</h2>
     <p>Prepare for the chase of a lifetime with our increased jackpots that promise exhilarating wins. Experience the <strong>heart-pounding anticipation as you vie for payouts that transcend expectations</strong>, adding an extra layer of excitement to your bets.</p>
     <p> Whether the spinning reels of slots or the strategic showdowns of card games, our increased jackpots off er the potential for life-changing victories that redefi ne the thrill of betting.</p>

     <h2 class="h2 mb-4 mt-5">SPINNING INTO FREE SPINS</h2>
     <p>At AllSports247, we believe in <strong>adding an extra dash of excitement</strong> to your gameplay. That’s why we off er free spins that allow you to take the reels for a spin without spending your</p>
     <p> funds. Not only do these spin-tastic treats enhance your experience, but they also allow you the chance to <strong>uncover winning combinations and enjoy the thrill of victory</strong>. With our free spins promotions, every spin could lead to exciting rewards that can transform your gaming sessions.</p>

     <h2 class="h2 mb-4 mt-5">REFERRAL REWARDS & BEYOND: A WIN-WIN PROPOSITION</h2>
     <p>Sharing the joy of AllSports247 is rewarding in more ways than one. With our <strong>refer-a-friend promotion</strong>, not only will you introduce your friends to an immersive betting experience, but it also means that you get to reap the benefits!</p>
     <p> Enjoy a percentage of their initial deposit as a bonus, giving you <strong>extra ammunition to explore our platform’s diverse offerings</strong>. It’s a win-win proposition that amplifies the fun and camaraderie of betting with your friends.</p>

     <h2 class="h2 mb-4 mt-5">RECOGNIZING THE MOST ACTIVE USERS</h2>
     <p>At AllSports247, we love celebrating <strong>dedication and excellence</strong>. Our platform recognizes the eff orts of our most active users with special rewards, ensuring your commitment to betting doesn't go unnoticed. </p>
     <p>Whether it’s exclusive promotions, personalized bonuses, or unique opportunities to enhance your experience, our commitment to our active users is a testament to our <strong>appreciation for your continued presence and engagement!</strong></p>

     <h2 class="h2 mb-4 mt-5">TAILORING PROMOTIONS TO YOUR PREFERENCES</h2>
     <p>At AllSports247, we recognize that every player is unique, with distinct preferences and betting styles. That’s why we offer <strong>personalized promotions</strong> that cater to your individual tastes!</p>
     <p>Whether you’re a fan of sports betting, live casino action, or classic casino games, our promotions are designed to align with your interests.</p>
     <p>Enjoy bonuses and off ers that resonate with your betting journey, ensuring your experience with us is not only exciting but also tailored to your liking.</p>

     <h2 class="h1 text-center mb-3 mt-5"> TERMS & CONDITIONS APPLY</h2>
    <p>While AllSports247’s promotions promise excitement and rewards, we also emphasize <strong>transparency and fairness</strong>. Every promotion we off er comes with its own set of terms and conditions, ensuring you have all the information you need to make informed decisions.</p>
    <p>It’s <a href=""><strong>essential to review these terms</strong></a> to fully understand the benefits, requirements, and eligibility criteria associated with each promotion. </p>
    <p>At AllSports247, our commitment to responsible betting extends to our promotional offerings, ensuring a safe and enjoyable journey for all our valued players!</p>

    <h2 class="h1 text-center mb-3 mt-5">OUR COMMITMENT TO <br>RESPONSIBLE GAMING</h2>
    <p><strong>At AllSports247, we take responsible gaming seriously.</strong></p>
    <p>Our commitment to promoting healthy betting habits is the core of everything we do. We believe betting should be an enjoyable form of entertainment, and we’re dedicated to ensuring it remains that way for all our players. </p>
    <p>We provide a <strong>range of tools and resources</strong> that empower you to manage your betting activities, set limits, and take breaks when needed. </p>
    <p>Our goal is to create a safe and supportive environment where you can engage in betting responsibly, ensuring the excitement is always balanced with mindfulness and control.</p>
   </div>
  </section>

  <div class="flyer my-5">
    <div class="container my-3">
        <div class="row strip">
           <div class="col">
            <img src="../../../assets/images/customer-care.png" class="customer">
           </div>
           <div class="col-sm-6 pe-5 text">               
                <p>For further information please don´t hesitate to contact us</p>              
           </div>
           <div class="col align-items-center d-flex">
           <button class="btn theme-btn">
            Contact Us
           </button>
           </div>
        </div>
    </div>
 </div>