<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>{{this.inputdata.title}}</mat-card-title>
		<!-- <mat-card-subtitle>
			Online Deposit Methods
		</mat-card-subtitle> -->
	</mat-card-header>
	<mat-card-content>
		<div class="card-sub-title">
			{{this.inputdata.SubTitle}}
		</div>
		<div class="col-12 card-buttons">
			<div class="row cashbtncss">
				<div class="col-lg-6 col-md-12 col-xs-12 cashmode">
					<button class="cashbtn">Cash App</button>
				</div>
				<div class="col-lg-6 col-md-12 col-xs-12 cashmode">
					<button class="cashbtn">PayPal</button>
				</div>
			</div>
			<div class="row cashbtncss">
				<div class="col-lg-6 col-md-12 col-xs-12 cashmode">
					<button class="cashbtn">Zelle</button>
				</div>
				<div class="col-lg-6 col-md-12 col-xs-12 cashmode">
					<button class="cashbtn">venmo</button>
				</div>
			</div>
		</div>
		<div class="col-12 line">
			------------------------------ or ------------------------------
		</div>
		<div class="col-12 nononlinedeposit">
			<button class="nononlinedepositbtn">{{this.inputdata.button1}}</button>
		</div>
		<div class="col-12 onlinemethods">
			<div class="row paymentgateway">
				FedEx &nbsp;&nbsp;&nbsp;&nbsp; Westernunion \\WU
			</div>
			<div class="row paymentgateway">
				Crypto Currency Visa
			</div>
		</div>

	</mat-card-content>
</mat-card>