.home-banner {
    position: relative;
    overflow: hidden;
   
    .carousel-inner{
        .carousel-caption {
            padding: 40px 60px;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            display: flex !important;
            flex-direction: column;
            text-align: left;
            justify-content: center;
            max-width: 60%;
            h5{
                font-size: 50px;
                font-weight: 800;
                text-transform: uppercase;
            }
        }
    }
    .carousel-indicators{
        bottom: 50px;
        [data-bs-target]{
            width: 10px !important;
            height: 10px !important;
            border-radius: 50%;
            background-color: transparent;
            border: 2px solid #fff;
            &.active{
                background-color: #fff;
            }
        }
    }
}
.curve{
    width: 100%;
    position: relative;
    margin-top: -65px;
    z-index: 9;
    img{
        width: 100%;
    }
    &:after{
        display: none !important;
    }
}
.border-bottom{
    border-bottom: 1px solid #707070;
}
.white-box{
    .box{
        margin: 20px 0 30px;
        display: inline-block;
        h2{
            color: #393939;
            text-transform: capitalize;
            margin-bottom: 15px;
            font-weight: 600;
        }
        border-radius: 34px;
        box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
        padding: 30px;
    }
}