<div id="aboutBanner" class="home-banner carousel slide carousel-fade">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#aboutBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#aboutBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <!-- <button type="button" data-bs-target="#aboutBanner" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
      </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/banners/banner1.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>The Better's Choice</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/banners/banner1.jpeg" class="d-block w-100" alt="...">
      </div>
     
    </div>

  </div>
  <div class="curve">
    <img src="../../../assets/images/banners/banner-curve.svg">
  </div>
  
  <section class="white-box mb-5">
    <div class="container">
        <div class="box px-5">
            <div class="row">
                <div class="col-sm-12">
                 <h2 class="text-center border-bottom pb-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                 <div class="text text-left">
                   <p>Sed vitae ultrices est. Pellentesque auctor mollis felis, nec scelerisque nisl venenatis eget. Nam convallis, massa nec commodo luctus, dolor lectus vehicula tortor, ac vulputate urna nibh et enim. Nullam feugiat odio sed hendrerit efficitur. Morbi ultrices velit eu cursus eleifend. </p>

                   <p>Ut iaculis volutpat justo, vulputate dictum nulla maximus quis. Integer nibh lorem, porta id varius ut, blandit id magna. Pellentesque sed auctor tellus.</p>
                    
                   <p>Pellentesque massa risus, aliquet id mi sit amet, imperdiet luctus nulla. Duis a cursus nibh, a placerat velit. Ut vel facilisis mauris. Suspendisse tortor lacus, sollicitudin quis neque non, mollis tempor tellus. </p>
                    
                   <p>Curabitur elementum ex eget dolor faucibus pretium. Morbi blandit mi lorem, at tincidunt risus accumsan et. Etiam luctus dictum Leo pellentesque blandit. Vestibulum quis bibendum lectus, pulvinar finibus lacus. Donec nec porttitor justo.</p>
                 </div>
                </div>
            </div>
        </div>
    </div>
</section>